@using Core.Models
@model Office
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Rank</label>
                    <input asp-for="Rank" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="Rank" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Genre</label>
                    <input asp-for="Genre" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">WeeksInBoxOffice</label>
                    <input asp-for="WeeksInBoxOffice" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="WeeksInBoxOffice" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">ReleaseDate</label>
                    <input asp-for="ReleaseDate" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">ImageFile</label>
                    <input asp-for="ImageFile" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>